@import "@scss/themes.scss";
@import "@scss/common/shape.scss";

.emote-upload-wrap {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;

	/* Main content */
	.emote-upload {
		display: flex;
		gap: 3em;

		@include themify() {
			.side-parent > .parent,
			.side-details > .details,
			.side-preview > :is(.emote-preview, .chat-preview),
			.side-add-emote > .inner {
				background-color: darken(themed("backgroundColor"), 2);
			}
		}

		h3 {
			margin-bottom: 1em;
		}

		/* Parent Emote */
		.side-parent {
			display: flex;
			flex-direction: column;
			.parent {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				flex-grow: 1;
				padding: 2em;
				gap: 2em;
			}
		}

		/* Emote Details */
		.side-details > .details {
			display: flex;
			flex-direction: column;
			padding: 2em;
			max-width: 30em;
			gap: 0.75em;

			@include themify() {
				input[type="submit"] {
					background-color: darken(themed("backgroundColor"), 4);

					&:hover {
						background-color: lighten(themed("backgroundColor"), 2);
					}

					&:focus {
						background-color: darken(themed("backgroundColor"), 6);
						outline: none;
					}
				}
			}
			input[type="submit"] {
				color: currentColor;
				font-size: 1.5em;
				border: none;
				padding: 0.5em 2em;
				cursor: pointer;
			}
		}

		/* Preview */
		.side-preview {
			display: flex;
			flex-direction: column;

			/* Emote */
			.emote-preview {
				display: flex;
				flex-direction: column;
				padding: 2em;
				margin-bottom: 1em;

				h5 {
					font-weight: normal;
					font-size: 1.5rem;
					text-align: center;
				}

				.sizes {
					display: flex;
					align-items: flex-end;
					gap: 4rem;

					.size {
						display: flex;
						flex-direction: column;
						gap: 0.5em;
						align-items: center;
						font-size: 0.75em;

						img.s32 {
							height: 32px;
						}

						img.s64 {
							height: 64px;
						}

						img.s96 {
							height: 96px;
						}

						img.s128 {
							height: 128px;
						}
					}
				}
			}

			/* Chat */
			.chat-preview {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				padding: 2em;
				justify-content: center;

				.line {
					display: inline-flex;
					line-height: 1.3em;
					padding: 0.2em 0;
					.user {
						margin-right: 2px;
					}
					.emote {
						max-height: 28px;
						width: auto;
						margin: -0.25em 0;
						position: relative;
						vertical-align: middle;
					}
				}
			}
		}

		/* Emote Input */
		.side-add-emote {
			display: flex;
			flex-direction: column;

			> .inner {
				padding: 2em;
				flex-grow: 1;
				display: flex;
				gap: 2em;

				> .image {
					display: flex;
					flex-direction: column;
					gap: 1em;
					align-items: center;
					justify-content: center;

					.file-upload-box {
						cursor: pointer;
						display: block;
						width: 8em;
						height: 8em;
						user-select: none;

						@media (prefers-reduced-motion: no-preference) {
							> svg > rect {
								animation: dash linear 10s infinite;
							}
						}

						@keyframes dash {
							from {
								stroke-dashoffset: 0;
							}
							to {
								stroke-dashoffset: 100%;
							}
						}
					}

					.accepted-formats {
						cursor: pointer;
					}
				}

				> .matrix {
					display: grid;
					grid-template-columns: repeat(3, auto);
					grid-column-gap: 1em;
					grid-row-gap: 0.25em;
					padding: 1em;

					transition: 175ms ease-out;
					transition-property: transform, opacity;
					transform-origin: left;

					@media (prefers-reduced-motion: reduce) {
						transition-duration: 0ms;
					}

					@include themify() {
						background-color: darken(themed("backgroundColor"), 4);
					}

					.header {
						font-weight: bold;
						padding-bottom: 0.5em;
					}

					.icon {
						justify-self: center;
					}
				}

				> .matrix-leave-from,
				> .matrix-enter-to {
					transform: scale(1);
					opacity: 1;
				}
				> .matrix-leave-to,
				> .matrix-enter-from {
					transform: scale(0.2);
					opacity: 0;
				}
			}
		}
	}

	/* Overlays */

	.dropper,
	.loader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;

		backdrop-filter: blur(10px);
		opacity: 1;
		transition: 150ms linear;
		transition-property: backdrop-filter, opacity;

		display: flex;
		flex-direction: column;
		gap: 2em;
		justify-content: center;
		align-items: center;
	}

	.dropper {
		> .icon {
			height: 4em;
		}
	}

	.drop-leave-to,
	.drop-enter-from,
	.load-leave-to,
	.load-enter-from {
		backdrop-filter: blur(0);
		opacity: 0;
	}

	.loader {
		> * {
			z-index: 101;
		}

		> .progress {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 100;
			background-color: rgba(0, 0, 0, 25%);
			transform: scaleX(var(--progress, 0));
			transform-origin: left;
			transition: transform 200ms ease-out;
		}

		> .error-display {
			display: flex;
			flex-direction: column;
			gap: 1em;
			align-items: center;

			button {
				@include themify() {
					background-color: darken(themed("warning"), 4);

					&:hover {
						background-color: lighten(themed("warning"), 2);
					}

					&:focus {
						background-color: darken(themed("warning"), 6);
					}
				}
				padding: 0.5em 2em;
				border: none;
				color: currentColor;
				box-shadow: #0005 0 2px 5px;
				cursor: pointer;
				font-size: 1.1em;

				&:focus {
					outline: none;
				}
			}
		}
	}
}
